github "Alamofire/Alamofire" ~> 4.5
github "Alamofire/AlamofireImage" ~> 3.3
github "Instagram/IGListKit" ~> 3.1
github "ReactiveCocoa/ReactiveSwift" "2.0.1"
github "ReactiveCocoa/ReactiveCocoa" "6.0.2"
github "mhmiles/racAdditions" "master"
github "drmohundro/SWXMLHash" ~> 4.0
github "mhmiles/MHReviewRequester" "master"
