<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pod2Watch.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>212B311D8483DE06DEFAE11D92903A3FE65A1601</string>
				<key>dateExpires</key>
				<string>10/9/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212B311D8483DE06DEFAE11D92903A3FE65A1601</string>
						<key>dateExpires</key>
						<string>10/9/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7XLNECBC46</string>
						<key>name</key>
						<string>Miles Hollingsworth</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212B311D8483DE06DEFAE11D92903A3FE65A1601</string>
						<key>dateExpires</key>
						<string>10/9/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7XLNECBC46</string>
						<key>name</key>
						<string>Miles Hollingsworth</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212B311D8483DE06DEFAE11D92903A3FE65A1601</string>
						<key>dateExpires</key>
						<string>10/9/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IGListKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7XLNECBC46</string>
						<key>name</key>
						<string>Miles Hollingsworth</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212B311D8483DE06DEFAE11D92903A3FE65A1601</string>
						<key>dateExpires</key>
						<string>10/9/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MHReviewRequester.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7XLNECBC46</string>
						<key>name</key>
						<string>Miles Hollingsworth</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212B311D8483DE06DEFAE11D92903A3FE65A1601</string>
						<key>dateExpires</key>
						<string>10/9/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactiveCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7XLNECBC46</string>
						<key>name</key>
						<string>Miles Hollingsworth</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212B311D8483DE06DEFAE11D92903A3FE65A1601</string>
						<key>dateExpires</key>
						<string>10/9/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactiveSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7XLNECBC46</string>
						<key>name</key>
						<string>Miles Hollingsworth</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212B311D8483DE06DEFAE11D92903A3FE65A1601</string>
						<key>dateExpires</key>
						<string>10/9/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7XLNECBC46</string>
						<key>name</key>
						<string>Miles Hollingsworth</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212B311D8483DE06DEFAE11D92903A3FE65A1601</string>
						<key>dateExpires</key>
						<string>10/9/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>racAdditions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7XLNECBC46</string>
						<key>name</key>
						<string>Miles Hollingsworth</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7k</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212B311D8483DE06DEFAE11D92903A3FE65A1601</string>
						<key>dateExpires</key>
						<string>10/9/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>armv7k</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>212B311D8483DE06DEFAE11D92903A3FE65A1601</string>
								<key>dateExpires</key>
								<string>10/9/18</string>
								<key>type</key>
								<string>iOS Distribution</string>
							</dict>
							<key>embeddedBinaries</key>
							<array>
								<dict>
									<key>architectures</key>
									<array>
										<string>armv7k</string>
									</array>
									<key>certificate</key>
									<dict>
										<key>SHA1</key>
										<string>212B311D8483DE06DEFAE11D92903A3FE65A1601</string>
										<key>dateExpires</key>
										<string>10/9/18</string>
										<key>type</key>
										<string>iOS Distribution</string>
									</dict>
									<key>name</key>
									<string>Alamofire.framework</string>
									<key>team</key>
									<dict>
										<key>id</key>
										<string>7XLNECBC46</string>
										<key>name</key>
										<string>Miles Hollingsworth</string>
									</dict>
								</dict>
								<dict>
									<key>architectures</key>
									<array>
										<string>armv7k</string>
									</array>
									<key>certificate</key>
									<dict>
										<key>SHA1</key>
										<string>212B311D8483DE06DEFAE11D92903A3FE65A1601</string>
										<key>dateExpires</key>
										<string>10/9/18</string>
										<key>type</key>
										<string>iOS Distribution</string>
									</dict>
									<key>name</key>
									<string>AlamofireImage.framework</string>
									<key>team</key>
									<dict>
										<key>id</key>
										<string>7XLNECBC46</string>
										<key>name</key>
										<string>Miles Hollingsworth</string>
									</dict>
								</dict>
								<dict>
									<key>architectures</key>
									<array>
										<string>armv7k</string>
									</array>
									<key>certificate</key>
									<dict>
										<key>SHA1</key>
										<string>212B311D8483DE06DEFAE11D92903A3FE65A1601</string>
										<key>dateExpires</key>
										<string>10/9/18</string>
										<key>type</key>
										<string>iOS Distribution</string>
									</dict>
									<key>name</key>
									<string>ReactiveCocoa.framework</string>
									<key>team</key>
									<dict>
										<key>id</key>
										<string>7XLNECBC46</string>
										<key>name</key>
										<string>Miles Hollingsworth</string>
									</dict>
								</dict>
								<dict>
									<key>architectures</key>
									<array>
										<string>armv7k</string>
									</array>
									<key>certificate</key>
									<dict>
										<key>SHA1</key>
										<string>212B311D8483DE06DEFAE11D92903A3FE65A1601</string>
										<key>dateExpires</key>
										<string>10/9/18</string>
										<key>type</key>
										<string>iOS Distribution</string>
									</dict>
									<key>name</key>
									<string>ReactiveSwift.framework</string>
									<key>team</key>
									<dict>
										<key>id</key>
										<string>7XLNECBC46</string>
										<key>name</key>
										<string>Miles Hollingsworth</string>
									</dict>
								</dict>
								<dict>
									<key>architectures</key>
									<array>
										<string>armv7k</string>
									</array>
									<key>certificate</key>
									<dict>
										<key>SHA1</key>
										<string>212B311D8483DE06DEFAE11D92903A3FE65A1601</string>
										<key>dateExpires</key>
										<string>10/9/18</string>
										<key>type</key>
										<string>iOS Distribution</string>
									</dict>
									<key>name</key>
									<string>Result.framework</string>
									<key>team</key>
									<dict>
										<key>id</key>
										<string>7XLNECBC46</string>
										<key>name</key>
										<string>Miles Hollingsworth</string>
									</dict>
								</dict>
								<dict>
									<key>architectures</key>
									<array>
										<string>armv7k</string>
									</array>
									<key>certificate</key>
									<dict>
										<key>SHA1</key>
										<string>212B311D8483DE06DEFAE11D92903A3FE65A1601</string>
										<key>dateExpires</key>
										<string>10/9/18</string>
										<key>type</key>
										<string>iOS Distribution</string>
									</dict>
									<key>name</key>
									<string>SWXMLHash.framework</string>
									<key>team</key>
									<dict>
										<key>id</key>
										<string>7XLNECBC46</string>
										<key>name</key>
										<string>Miles Hollingsworth</string>
									</dict>
								</dict>
							</array>
							<key>entitlements</key>
							<dict>
								<key>application-identifier</key>
								<string>7XLNECBC46.com.hollingsware.Pod2Watch.watchkitapp.watchkitextension</string>
								<key>com.apple.developer.team-identifier</key>
								<string>7XLNECBC46</string>
								<key>com.apple.security.application-groups</key>
								<array>
									<string>group.com.hollingsware.pod2watch</string>
								</array>
								<key>get-task-allow</key>
								<false/>
							</dict>
							<key>name</key>
							<string>Pod2Watch WatchKit Extension.appex</string>
							<key>profile</key>
							<dict>
								<key>UUID</key>
								<string>b3513a19-44a3-40fd-87af-ca74a4ffbc21</string>
								<key>name</key>
								<string>iOS Team Ad Hoc Provisioning Profile: com.hollingsware.Pod2Watch.watchkitapp.watchkitextension</string>
							</dict>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>7XLNECBC46</string>
								<key>name</key>
								<string>Miles Hollingsworth</string>
							</dict>
						</dict>
					</array>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>7XLNECBC46.com.hollingsware.Pod2Watch.watchkitapp</string>
						<key>com.apple.developer.team-identifier</key>
						<string>7XLNECBC46</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.hollingsware.pod2watch</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>Pod2Watch WatchKit App.app</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>7270cf7e-1b76-4d12-9ef9-8414b7d24f3d</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.hollingsware.Pod2Watch.watchkitapp</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7XLNECBC46</string>
						<key>name</key>
						<string>Miles Hollingsworth</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7XLNECBC46.com.hollingsware.Pod2Watch</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7XLNECBC46</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.hollingsware.pod2watch</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Pod2Watch.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>880f6e8c-bf76-48fc-9c27-309e2d9b2d8e</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.hollingsware.Pod2Watch</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7XLNECBC46</string>
				<key>name</key>
				<string>Miles Hollingsworth</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
