<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pod2Watch WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Pod2Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02310CE91E4BB4B500D427EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02C1DCDE1E4B9281000C760D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02C1DCF01E4B9281000C760D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02C1DD261E4B9577000C760D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
